<header>
  <nav class="navbar navbar-expand-md nabar-dark bg-success">
    <a class="navbar-brand" style="color: white;">Schoodle</a>
        <div class="form-inline">
          <form action="/events/new" method="GET">
            <button class="btn btn-primary" href="/events/new">New Event</button>
          </form>
        </div>
  </nav>
</header>
