section {
  display: flex;
  justify-content: center;
}

.event-details {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 6rem;
  padding-top: 0.5rem;
  padding-bottom: 1rem;
  border: 2px solid black;
  width: 90vw
}

form.form-details label {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  text-align: right;
  width: 25rem;
  line-height: 1.5rem;
  margin: 0.5rem;
}

form.form-details input {
  height: 1.25rem;
  flex: 0 0 12.5rem;
  margin-left: 0.625rem;
}

.event-desc {
  display: flex;
  margin-top: 1.5rem;
  margin-bottom: 1rem;
}

.text-box {
  width: 35rem;
  resize: none;
  margin-bottom: 1rem;
}

::placeholder {
  line-height: 2rem;
  text-align: center;
}

form.form-details button {
  margin-left: 25rem;
}
