.footer-overlay {
  position: absolute;
  bottom: 0;
  width: 100% !important;
  height: 2.5rem;
  margin-top: 1rem;
  background-color: ghostwhite;
  text-align: center;
  border-top: solid;
  border-width: 0.12rem;
  border-color: #212529;
}
