section {
  display: flex;
  justify-content: center;
}

.share-event {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
  margin-top: 1rem;
  padding-top: 0.5rem;
  padding-bottom: 1rem;
  border: 2px solid black;
  width: 90%
}

.event-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 0.5rem;
  margin-left: 2rem;
  margin-right: 2rem;
}

#url-link {
  width: 18rem;
}

#voter-name-box {
  display: flex;
  justify-content: center;
}

#voter-email-box {
  display: flex;
  justify-content: center;
}

#voter-name {
  margin-top: 1.5rem;
  margin-bottom: 0.5rem;
}

#voter-email {
  margin-bottom: 2rem;
}

.voter-section {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  padding: 0.5rem;
}

#vote-button-style {
  display: flex;
  justify-content: flex-end;
  margin-top: 0.5rem;
  margin-bottom: 1rem;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 80%
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 0.5rem;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
